<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scu.lly.customviews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SlidingActivity" />
        <activity android:name=".WaterRipperActivity" />
        <activity android:name=".CouponActivity" />
        <activity android:name=".ShoppingCartActivity" />
        <activity android:name=".QQHealthActivity" />
        <activity android:name=".CustomImageViewActivity" />
        <activity android:name=".ImageLoaderTestActivity" />
        <activity android:name=".PinnedHeaderExpandabeListViewActivity" />
        <activity android:name=".TagFlowActivity" />
        <activity android:name=".PaintDemoActivity" />
        <activity android:name=".AnimDemoActivity" />
        <activity android:name=".view.aboutpaint.TestPaintActivity" />
        <activity android:name=".view.aboutpaint.ClockViewActivity" />
        <activity android:name=".view.aboutpaint.GestrueFakeActivity" />
        <activity android:name=".view.aboutpaint.WaterWaveActivity" />
        <activity android:name=".view.aboutpaint.XfermodeActivity" />
        <activity android:name=".view.aboutpaint.ShadowBitmapActivity" />
        <activity android:name=".view.aboutpaint.BitmapShaderDemoActivity" />
        <activity android:name=".view.aboutpaint.ShimmerTextActivity" />
        <activity android:name=".view.aboutpaint.RadialGradientActivity" />
        <activity android:name=".view.anim.TestAnimActivity" />
        <activity android:name=".view.anim.ListViewItemAnimActivity" />
        <activity android:name=".view.anim.MenuAnimActivity" />
        <activity android:name=".view.anim.ListItemCustomAnimActivity" />
        <activity android:name=".QQRedPointViewActivity" />
    </application>

</manifest>